/* nav {
  background: red;
  position: fixed;
  } */
  
  nav {
    /* height: 6rem; */
    position: fixed;
    top: 0
}
  .logo {
    height: 8vmin;
    pointer-events: none;
    position: fixed;
    left: 8rem;
    /* cursor: pointer; */
  /* top: 0.5rem; */
}




